# Binaries
/bin/
/api
/worker
/relay
/kubectl
/minikube-*
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output
*.out

# Go workspace
go.work
go.work.sum

# Environment
.env

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Air
/tmp/

# Terraform
*.tfvars
backend.conf
.terraform/
*.tfstate
*.tfstate.backup
.terraform.lock.hcl

# OS
.DS_Store
Thumbs.db
