services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_USER: relay
      POSTGRES_PASSWORD: relay
      POSTGRES_DB: webhook_relay
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"
    volumes:
      - redisdata:/data

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8080:8080"
    env_file: .env
    environment:
      DATABASE_URL: postgres://relay:relay@postgres:5432/webhook_relay?sslmode=disable
      REDIS_URL: redis://redis:6379
    depends_on:
      - postgres
      - redis

  worker:
    build:
      context: .
      dockerfile: Dockerfile.worker
    env_file: .env
    environment:
      DATABASE_URL: postgres://relay:relay@postgres:5432/webhook_relay?sslmode=disable
      REDIS_URL: redis://redis:6379
    depends_on:
      - postgres
      - redis
    deploy:
      replicas: 2

volumes:
  pgdata:
  redisdata:
