tenancy_ocid     = "ocid1.tenancy.oc1..example"
user_ocid        = "ocid1.user.oc1..example"
fingerprint      = "aa:bb:cc:dd:ee:ff:00:11:22:33:44:55:66:77:88:99"
private_key_path = "~/.oci/oci_api_key.pem"
region           = "us-ashburn-1"
compartment_ocid = "ocid1.compartment.oc1..example"

kubernetes_version = "v1.34.2"
node_shape         = "VM.Standard.A1.Flex"
node_ocpus         = 2
node_memory_in_gbs = 12
node_pool_size     = 2
